/* styles/Card.module.css */
/*** push project main*/
/*** pull main*/


/* @keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 130%;
  background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
} */

.card::after {
  content: '';
  position: absolute;
  inset: 5px;
  background: #07182e;
  border-radius: 15px;
}

.card {
  @apply w-[190px] h-[254px] bg-[#07182e] relative flex justify-center items-center overflow-hidden rounded-[20px];
}

.cardTitle {
  @apply z-[1] text-white text-[1.5em] absolute top-40 right-7;
}
.cardImage {
  @apply absolute top-4 right-12 w-24 h-24 rounded-full object-cover z-[1];
}
